body {
	background: black;
	margin: 0;
	padding: 0;
}
.cubeblue{
	color: #52eff2;
}
.big{
	font-size: 2em;
}
#sizer{
	height: 2600px;
	width: 1px;
}
div#contentwrapper{
	margin: 0;
	padding: 0;
	width: 1200px;
	position: fixed;
	height: 100vh;
	left: 50%;
	transform: translateX(-50%);
}
.sidebar{
	background-size: auto 700px;
	background-position: center top;
	background-repeat: no-repeat;
	width: 40px;
	position: absolute;
	left: 0px;
	top: 120px;
	bottom: 0px;
}
#selector{
	background-size: contain;
	width: 15px;
	height: 15px;
	margin-left: 13px;
	margin-top: 177px;
}
.logo{
	background-size:contain;
	background-position: left top;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	position: absolute;
	left: -7px;
	top: -80px;
}
.content{
	text-align: center;
	vertical-align:middle;
	font-family: 'VT323', monospace;
	font-size: 1.2em;
	color: white;
	background-size:contain;
	background-position: left top;
	background-repeat: no-repeat;
	width: 450px;
	position: absolute;
	left: 60px;
	top: 50%;
	margin-top: -60px;
}
.content img{
	padding: 5px;
}
.cubeblock{
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
	top: 50%;
	width: 1000px;
	margin-top: -500px;
	position: absolute;
	right: -150px;
	bottom: 0px;
	z-index: -1000;
}
.cube1{
	visibility: visible;
	opacity: 1.0;
}
.cube2{
	opacity: 0.0;
}
.cube3{
	opacity: 0.0;
}
.cube4{
	opacity: 0.0;
}
#scrollicon{
	display: none;
}


@media screen and (max-width: 1400px) {
	#sizer{
		display: none;
	}
	div#contentwrapper{
		width: 100vw;
		position: relative;
		height: 100vh;
		left: 0;
		transform: none;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.sidebar{
		background-image: none !important;
		height: 50px;
		width: 50px;
		left: 50%;
		transform: translateX(-50%);
		top: 5vh;
	}
	#selector{
		display: none;
	}
	.logo{
		top:0;
	}
	.content{
		font-size: 1.3em;
		width: 80%;
		position: relative;
		left: 0;
		top: 0;
		margin-left: auto;
	    margin-right: auto;
	    margin-top: 15vh;
	    height: 30vh;
	    padding-top: 0;	
	}
	.content div{
		
	}
	.content div img{
		padding: 5px;
	}
	.cubeblock{
		background-size: 140% auto;
		background-position: center top;
		background-repeat: no-repeat;
		top: 0%;
		margin-top: -20vh;
		position: relative;
		right: 0;
		bottom: 0;
		z-index: -1000;
		width: 100vw;
		left: 50%;
		transform: translateX(-50%);
		height: 80vh;
		opacity: 1.0 !important;
	}
	.cube1{
		opacity: 1.0 !important;
	}
	.cube2{
		opacity: 1.0 !important;
	}
	.cube3{
		opacity: 1.0 !important;
	}
	.cube4{
		opacity: 1.0 !important;
	}
	#scrollicon{
		background-size: contain;
		background-repeat: no-repeat;
		display: block;
		width: 13px;
		height: 30px;
		position: fixed;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0.6
	}
}